<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Back-end</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <servlet>
  
  <servlet-name>Register</servlet-name>
  <servlet-class>Register</servlet-class>
  
  </servlet>
  <servlet-mapping>
  
  <servlet-name>Register</servlet-name>
  <url-pattern>/Register</url-pattern>
  
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>Login</servlet-name>
  <servlet-class>Login</servlet-class>
  
  </servlet>
  <servlet-mapping>
  <servlet-name>Login</servlet-name>
  <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>UserGetID</servlet-name>
  <servlet-class>UserGetID</servlet-class>
  
  </servlet> 
  <servlet-mapping>
  <servlet-name>UserGetID</servlet-name>
  <url-pattern>/UserGetID</url-pattern>
  
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>ActivityGet</servlet-name>
  <servlet-class>ActivityGet</servlet-class>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ActivityGet</servlet-name>
  <url-pattern>/ActivityGet</url-pattern>
  
  </servlet-mapping>
  
  
  
  
  
  
  <servlet>
  <servlet-name>RewardGet</servlet-name>
  <servlet-class>RewardGet</servlet-class>  
  
  </servlet>
  <servlet-mapping>
  <servlet-name>RewardGet</servlet-name>
  <url-pattern>/RewardGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>UserGet</servlet-name>
  <servlet-class>UserGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserGet</servlet-name>
  <url-pattern>/UserGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  <servlet>
  <servlet-name>FactDelete</servlet-name>
  <servlet-class>FactDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FactDelete</servlet-name>
  <url-pattern>/FactDelete</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>ActivityRequestJoinGet</servlet-name>
  <servlet-class>ActivityRequestJoinGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestJoinGet</servlet-name>
  <url-pattern>/ActivityRequestJoinGet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>FactPut</servlet-name>
  <servlet-class>FactPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FactPut</servlet-name>
  <url-pattern>/FactPut</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>ActivityRequestGet</servlet-name>
  <servlet-class>ActivityRequestGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestGet</servlet-name>
  <url-pattern>/ActivityRequestGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>FactPost</servlet-name>
  <servlet-class>FactPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FactPost</servlet-name>
  <url-pattern>/FactPost</url-pattern>
  </servlet-mapping>
   
  <servlet>
  <servlet-name>ChildGet</servlet-name>
  <servlet-class>ChildGet</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>ChildGet</servlet-name>
  <url-pattern>/ChildGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>FactGet</servlet-name>
  <servlet-class>FactGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FactGet</servlet-name>
  <url-pattern>/FactGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>SubscriptionGet</servlet-name>
  <servlet-class>SubscriptionGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubscriptionGet</servlet-name>
  <url-pattern>/SubscriptionGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>SugestionGet</servlet-name>
  <servlet-class>SugestionGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SugestionGet</servlet-name>
  <url-pattern>/SugestionGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>Upload</servlet-name>
  <servlet-class>Upload</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>Upload</servlet-name>
  <url-pattern>/Upload</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>FactUpload</servlet-name>
  <servlet-class>FactUpload</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>FactUpload</servlet-name>
  <url-pattern>/FactUpload</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>UploadPutRA</servlet-name>
  <servlet-class>UploadPutRA</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UploadPutRA</servlet-name>
  <url-pattern>/UploadPutRA</url-pattern>
  </servlet-mapping>
  
  
  
  
   <servlet>
  <servlet-name>UserGetNonEmail</servlet-name>
  <servlet-class>UserGetNonEmail</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserGetNonEmail</servlet-name>
  <url-pattern>/UserGetNonEmail</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>RegisterStaff</servlet-name>
  <servlet-class>RegisterStaff</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterStaff</servlet-name>
  <url-pattern>/RegisterStaff</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <servlet>
  <servlet-name>LogoutServlet</servlet-name>
  <servlet-class>LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>LogoutServlet</servlet-name>
  <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>

  
  
  
  
  
  
  <servlet>
  <servlet-name>SessionGet</servlet-name>
  <servlet-class>SessionGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SessionGet</servlet-name>
  <url-pattern>/SessionGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>ChildPut</servlet-name>
  <servlet-class>ChildPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ChildPut</servlet-name>
  <url-pattern>/ChildPut</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>UserPut</servlet-name>
  <servlet-class>UserPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>UserPut</servlet-name>
  <url-pattern>/UserPut</url-pattern>
  </servlet-mapping>
  
  
  
  
  
    <servlet>
  <servlet-name>ActivityPost</servlet-name>
  <servlet-class>ActivityPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityPost</servlet-name>
  <url-pattern>/ActivityPost</url-pattern>
  </servlet-mapping>
  
  
  
  
  
   <servlet>
  <servlet-name>CollabGet</servlet-name>
  <servlet-class>CollabGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CollabGet</servlet-name>
  <url-pattern>/CollaboratorGet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
  <servlet-name>ActivityRequestFutureGet</servlet-name>
  <servlet-class>ActivityRequestFutureGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestFutureGet</servlet-name>
  <url-pattern>/ActivityRequestFutureGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>SendEmail</servlet-name>
  <servlet-class>SendEmail</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SendEmail</servlet-name>
  <url-pattern>/SendEmail</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>ActivityRequestByIdGet</servlet-name>
  <servlet-class>ActivityRequestByIdGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestByIdGet</servlet-name>
  <url-pattern>/ActivityRequestByIdChildGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
   <servlet>
  <servlet-name>PasswordPut</servlet-name>
  <servlet-class>PasswordPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PasswordPut</servlet-name>
  <url-pattern>/PasswordPut</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
   <servlet>
  <servlet-name>CheckPassChangerPost</servlet-name>
  <servlet-class>CheckPassChangerPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>CheckPassChangerPost</servlet-name>
  <url-pattern>/CheckPassChangerPost</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>SugestionPost</servlet-name>
  <servlet-class>SugestionPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SugestionPost</servlet-name>
  <url-pattern>/SugestionPost</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>TotalPointsChildGet</servlet-name>
  <servlet-class>TotalPointsChildGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>TotalPointsChildGet</servlet-name>
  <url-pattern>/TotalPointsChildGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  <servlet>
  <servlet-name>ActivityRequestByIdRequestGet</servlet-name>
  <servlet-class>ActivityRequestByIdRequestGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestByIdRequestGet</servlet-name>
  <url-pattern>/ActivityRequestByIdRequestGet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>SubscriptionDelete</servlet-name>
  <servlet-class>SubscriptionDelete</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubscriptionDelete</servlet-name>
  <url-pattern>/SubscriptionDelete</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
   <servlet>
  <servlet-name>SubscriptionPost</servlet-name>
  <servlet-class>SubscriptionPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubscriptionPost</servlet-name>
  <url-pattern>/SubscriptionPost</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
   <servlet>
  <servlet-name>ActivityVerifyGet</servlet-name>
  <servlet-class>ActivityVerifyGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityVerifyGet</servlet-name>
  <url-pattern>/ActivityVerifyGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>SubscriptionPut</servlet-name>
  <servlet-class>SubscriptionPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubscriptionPut</servlet-name>
  <url-pattern>/SubscriptionPut</url-pattern>
  </servlet-mapping>
  
  
  
  
  
   <servlet>
  <servlet-name>SubscriptionEvaluationGet</servlet-name>
  <servlet-class>SubscriptionEvaluationGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>SubscriptionEvaluationGet</servlet-name>
  <url-pattern>/SubscriptionEvaluationGet</url-pattern>
  </servlet-mapping>
  
  
  
    
  
     <servlet>
  <servlet-name>EvaluationRequestPut</servlet-name>
  <servlet-class>EvaluationRequestPut</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EvaluationRequestPut</servlet-name>
  <url-pattern>/EvaluationRequestPut</url-pattern>
  </servlet-mapping>
  
  
       <servlet>
  <servlet-name>EvaluationRequestGetId</servlet-name>
  <servlet-class>EvaluationRequestGetId</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>EvaluationRequestGetId</servlet-name>
  <url-pattern>/EvaluationRequestGetId</url-pattern>
  </servlet-mapping>
  
  
  
  
  
     <servlet>
  <servlet-name>ActivityRequestNonActivityGet</servlet-name>
  <servlet-class>ActivityRequestNonActivityGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestNonActivityGet</servlet-name>
  <url-pattern>/ActivityRequestNonActivityGet</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
     <servlet>
  <servlet-name>evaluation_requestPost</servlet-name>
  <servlet-class>evaluation_requestPost</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>evaluation_requestPost</servlet-name>
  <url-pattern>/evaluation_requestPost</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
  <servlet-name>ChildPutByUser</servlet-name>
  <servlet-class>ChildPutByUser</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ChildPutByUser</servlet-name>
  <url-pattern>/ChildPutByUser</url-pattern>
  </servlet-mapping>
  
  
  
  
   <servlet>
  <servlet-name>PhotoRewardByIdChildGet</servlet-name>
  <servlet-class>PhotoRewardByIdChildGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>PhotoRewardByIdChildGet</servlet-name>
  <url-pattern>/PhotoRewardByIdChildGet</url-pattern>
  </servlet-mapping>
  
  
    
         <servlet>
  <servlet-name>NrInstitutionGET</servlet-name>
  <servlet-class>NrInstitutionGET</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NrInstitutionGET</servlet-name>
  <url-pattern>/NrInstitutionGET</url-pattern>
  </servlet-mapping>
  
  
  
  
  
           <servlet>
  <servlet-name>NrFactGet</servlet-name>
  <servlet-class>NrFactGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NrFactGet</servlet-name>
  <url-pattern>/NrFactGet</url-pattern>
  </servlet-mapping>
  
  
  
             <servlet>
  <servlet-name>NrRequestNotActivityGET</servlet-name>
  <servlet-class>NrRequestNotActivityGET</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>NrRequestNotActivityGET</servlet-name>
  <url-pattern>/NrRequestNotActivityGET</url-pattern>
  </servlet-mapping>
  
  
  
  
             <servlet>
  <servlet-name>InsitutionGet</servlet-name>
  <servlet-class>InsitutionGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>InsitutionGet</servlet-name>
  <url-pattern>/InsitutionGet</url-pattern>
  </servlet-mapping>  
  
   
   
  <servlet>
  <servlet-name>InstitutionCandidateGet</servlet-name>
  <servlet-class>InstitutionCandidateGet</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>InstitutionCandidateGet</servlet-name>
  <url-pattern>/InstitutionCandidateGet</url-pattern>
  </servlet-mapping>
  
  
  
               <servlet>
  <servlet-name>InstitutionCandidateJoinGet</servlet-name>
  <servlet-class>InstitutionCandidateJoinGet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>InstitutionCandidateJoinGet</servlet-name>
  <url-pattern>/InstitutionCandidateJoinGet</url-pattern>
  </servlet-mapping> 
  
  
  
  
  
  
  
   <servlet>
  <servlet-name>RegisterUserInstitution</servlet-name>
  <servlet-class>RegisterUserInstitution</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>RegisterUserInstitution</servlet-name>
  <url-pattern>/RegisterUserInstitution</url-pattern>
  </servlet-mapping>
  
  
  
  
   <servlet>
  <servlet-name>InstitutionPost</servlet-name>
  <servlet-class>InstitutionPost</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>InstitutionPost</servlet-name>
  <url-pattern>/InstitutionPost</url-pattern>
  </servlet-mapping>
 
  
  
   <servlet>
  <servlet-name>FactGetByName</servlet-name>
  <servlet-class>FactGetByName</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>FactGetByName</servlet-name>
  <url-pattern>/FactGetByName</url-pattern>
  </servlet-mapping>
  
  
  
  
  
    
     <servlet>
  <servlet-name>CandidateNOTInstitutionGET</servlet-name>
  <servlet-class>CandidateNOTInstitutionGET</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>CandidateNOTInstitutionGET</servlet-name>
  <url-pattern>/CandidateNOTInstitutionGET</url-pattern>
  </servlet-mapping>
  
  
  
       <servlet>
  <servlet-name>CandidateGetId</servlet-name>
  <servlet-class>CandidateGetId</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>CandidateGetId</servlet-name>
  <url-pattern>/CandidateGetId</url-pattern>
  </servlet-mapping>
  
  
  
  
  
         <servlet>
  <servlet-name>SendEmailAccount</servlet-name>
  <servlet-class>SendEmailAccount</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>SendEmailAccount</servlet-name>
  <url-pattern>/SendEmailAccount</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
           <servlet>
  <servlet-name>ActivityPutState</servlet-name>
  <servlet-class>ActivityPutState</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityPutState</servlet-name>
  <url-pattern>/ActivityPutState</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
           <servlet>
  <servlet-name>InstitutionPut</servlet-name>
  <servlet-class>InstitutionPut</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>InstitutionPut</servlet-name>
  <url-pattern>/InstitutionPut</url-pattern>
  </servlet-mapping>
  
  
  
 
  
  
  
  
  
  
  
  
  <servlet>
  <servlet-name>ActivityRequestStatePut</servlet-name>
  <servlet-class>ActivityRequestStatePut</servlet-class>

  </servlet>
  <servlet-mapping>
  <servlet-name>ActivityRequestStatePut</servlet-name>
  <url-pattern>/ActivityRequestStatePut</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</web-app>
